{% extends 'base.html' %}

{% block main %}
<div class="container mt-4">
    <h1>О данном проекте:</h1>
    <div>
        <div>Данный учебный проект позволяет добавлять и хранить информацию о книгах. Ещё какая-то информация...</div>
    </div>
    <h1>Контакты:</h1>
    <div>
        <a href="mailto:dzhudihops1488@gmail.com">
            <i></i> Написать на почту
        </a>
    </div>
</div>
{% endblock %}

{% block footer %}
<div>Ведётся активная разработка!</div>
{{ super() }}
{% endblock %}